@model IEnumerable<SchoolDbAssignmnet.Models.Teacher>

@{
    ViewBag.Title = "List";
}



<div class="teacher-list">
    <h2>Teacher List</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" />
        <input type="submit" value="Search" />
    </form>



    @{

        // create a list to navigate to /teacher/show/{teacherid}
        foreach (SchoolDbAssignmnet.Models.Teacher Teacher in Model)
        {
            <div class="teacher-names"><a href="/Teacher/Show/@Teacher.TeacherId"> @Teacher.TeacherName </a> </div>
        }
    }
</div>