@model SchoolDbAssignmnet.Models.Teacher

@{
    ViewBag.Title = "Show";
} 
<div class="teacher-detail">
    <h2>Teacher Details</h2>
    <h4>@Model.TeacherName</h4>
    <p>Salary: $@Model.Salary</p>
    <p>HireDate: @Model.HireDate</p>
    <h4>Course</h4>
    <p> @Model.ClassName</p>

</div>



